body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App,
.ui,
.item {
  background-color: #111 !important;
  color: #fff !important;
}
.ui.secondary.pointing.menu .active.item {
  border-color: #fff !important;
}

body,
.ui.segment.active.tab {
  background-color: #111 !important;
}
.ui.segment.active.tab {
  width: 95%;
  margin: auto;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #fff;
}
.slick-dots li button:before {
  opacity: 0.25;
  color: #fff;
}
